.headingH2 {
  text-align: center;
  color: white;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  margin-bottom: .25rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.headingH3 {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
  margin-bottom: .25rem;
}