.characterHeader {
  padding: 0 2rem;
  display: flex;
  margin-bottom: 1.25rem;
  div:first-child {
    margin-right: 1rem;
  }
  button {
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    top: -4px;
    position: relative;
  }
}

.characterDetails {
  padding: 2rem;
}

@media all and (min-width: 700px) {
  .mainContainer {
    display: flex;
  }
  .desktopLeftSide, .desktopRightSide {
    flex: 1;
  }
  .desktopLeftSide {
    max-width: 486px;
  }
  .desktopRightSide {
    padding-left: 4rem;
  }

  .characterHeader {
    position: relative;
    div:first-child {
      margin-right: 0;
    }
    button {
      position: absolute;
      left: -2px;
      top: -4px;
      color: #B0B2BD;
      transition: all .2s;
      cursor: pointer;
    }
    button:hover {
      color: #EE1D38;
    }
  }
}
